*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: #3C1361;
    height: 80px;
}

.navbar-brand{
    color:#BCA0DB;
}

.active{
    color: #fff!important;
}

.nav-item{
    margin-right: 33px;
    font-size: 16px;  
}

.nav-link:hover{
    color: #BCA0DB;
    font-weight: 700;
}

.nav-link{
    color: #BCA0DB;
}

/* MAIN */

.main-wrapper{
    margin-left:200px;
    margin-top: 60px;
}

.amount{
    width: 20%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #9747FF;
}

label{
    color: #3C1361;
    font-weight: bold;
    font-size: 1.20rem;
}
.select1{
    width: 60%;
    padding: 7px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #9747FF;
  }

.payment-details{
    background-color: #9747FF;
    color: rgba(0, 0, 0, 0.5);
    padding: 12px 22px;
    width: 88%;
  }

  ::placeholder, select{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.08rem;
    font-weight: 500;
  }

  .input-group{
    width: 87%;
    margin-left:1px;
  }

  .input-group-text{
    background-color: #9747FF;
    color: #fff;
    height: 50px;
    cursor: pointer;
  }

  .select1:hover{
    background-color: #9747FF;
    color: #fff;
    border: 2px solid #9747FF;
    outline: #9747FF;
  }

  .submit-intention a{
    background-color: #3C1361;
    padding: 9px 170px;
    color: #fff;
    font-size: 1.20rem;
    border-radius: 5px;
  }

/* FOOTER */
section{
    background-color: #EEDFFF;
    margin-top: 120px;
  }

  .mini-footer p{
    font-size:0.80rem;
  }

  footer{
    background-color: #BCA0DB;
    color: #3C1361;
}

.footer-wrapper a{
    color: #3C1361;
}

.divider {
    border-right: 2px solid #3C1361;
  }

  .lg {
    height: 100px;
  }